.container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 24px;
    background-color: var(--light-color);
    width: 100%;
    a {
        color: var(--primary-color);
        font-size: var(--font-regular-size);
        font-weight: var(--bold);
    }
}

@media (min-width: 1024px) {
    .container {
        display: none;
    }
}