.menuItemContainer{
    padding: 14px 16px;
    ul {
        display: flex;
        li {
            list-style-type: none;
            a {
                cursor: pointer;
                color: var(--light-color-text);
                text-decoration: none;
            }
        }
        li a.active {
            text-decoration: underline;
        }
    }

    .hamburger {
        position: absolute;
        right: 0;
        height: 2px;
        width: 15px;
        background: var(--bg-primary-color);
        opacity: 1;
        transform: all 0.3s;
    }

    .hamburger:before,
    .hamburger:after {
        content: '';
        height: 2px;
        width: 15px;
        background: var(--bg-primary-color);
        position: absolute;
        transition: 0.5s ease-in-out;
    }
}