.menuSectionItemContainer{
    padding: 14px 16px;
    ul {
        display: flex;
        li {
            list-style-type: none;
            a {
                cursor: pointer;
                color: var(--light-color-text);
                text-decoration: none;
            }
        }
        li a.active {
            text-decoration: underline;
        }
    }
}