.optionContainer {
    .optionItemContainer {
        display: flex;
        margin: 16px 0;
        background-color: var(--bg-primary-color);
        .optionDescriptionContainer {
            flex: 1;
            h3 {
                font-size: var(--font-regular-size);
                color: var(--strong-color);
                font-weight: var(--medium);
            }
            p {
                font-size: var(--font-regular-size);
                color: var(--light-text);
                font-weight: var(--regular);
            }
        }
        .radio {
            flex: 1;
            text-align: end;
        }
    }
}