:root {
  --primary-color: #4F372F;
  --bg-primary-color: #FFFFFF;
  --bg-secondary-color: #EEEEEE;
  --bg-tertiary-color: #F8F9FA;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f8f9fa;

  --opacity: 0.65;

  --font-roboto: 'Roboto', sans-serif;
  --regular: 300;
  --medium: 400;
  --semi-bold: 500;
  --bold: 600;
  
  --breakpoint-mobile: 393px;
  --breakpoint-desktop: 1024px;

  --padding-little: 16px;
  --padding-medium: 24px;
  --pading-large: 40px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

