:root {
  --primary-color: #4F372F;
  --primary-color-hover: #4f372f;
  --bg-primary-color: #FFFFFF;
  --bg-secondary-color: #EEEEEE;
  --bg-nav-color: #EEEEEE;
  --border-color: #8A94A4;
  --strong-color: #121212;
  --light-text: #464646;
  --light-bg-grey: #f2f2f7;
  --white: #FFFFFF;
  --black: #000000;
  --bg-tertiary-color: #F8F9FA;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #FFC107;
  --info-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f8f9fa;
  --light-color-text: #DADADA;

  --opacity: 0.65;

  --font-roboto: 'Roboto', sans-serif;
  --font-regular-size: 1rem;
  --font-m-size: 1.125rem;
  --font-xm-size: 1.25rem;
  --font-x-size: 1.5rem;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  
  --breakpoint-mobile: 393px;
  --breakpoint-desktop: 1024px;

  --padding-little: 16px;
  --padding-medium: 24px;
  --pading-large: 40px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-roboto);
  h3 {
    font-size: var(--font-regular-size);
    color: var(--strong-color);
  }
}